[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/sqlite-amalgamation-cmake-buildsystem"]
	path = extern/sqlite-amalgamation-cmake-buildsystem
	url = https://github.com/algoritnl/sqlite-amalgamation-cmake-buildsystem.git
